@charset "utf-8";

body{
    font-family:serif;
    background-color: #333;
    color:#fff;


}


*,*::before,*::after{
    box-sizing: border-box;
}

header{

    padding: 50px;
}

header h1{
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 60px;
    white-space: nowrap;

    animation: titleAnimation 1.5s;

}
@keyframes titleAnimation{
 0%{
     letter-spacing:  .3em;
     opacity: 0;
 }   
}

main{
    max-width: 1000px;
    width:100%;
    margin: 50px auto;
}



.contents li{

    position:relative;


    /*
    opacity: 0;



    /*   ここをXとか-とかにしたらふわっと方向が変わる  */
    /*
    transform: translateY(50px);
    transition: 1s;*/

    

}
/*
.contents li.show{

opacity: 1;


/*ふわっとに対応*/
/*

transform: none;


}
*/
.contents li:not(:first-of-type){
    margin-top: 200px;
}


.contents li.show h2,
.contents li.show p,
main .contents li.show img{

    transform: none;
    opacity: 1;

}
.contents li:nth-of-type(odd) .contentsText{
    right:0;

    /*
    
    .contents li :nth-of-type(odd).contentsText{
        .contents li :nth-of-type(odd) .contentsText{
            実行結果が変わる！！
    
    
    */
}

.contents li:nth-of-type(even) .contentsText{
   
    align-items: flex-start;
    transform: translate(-20px, 20px);
}


.contents li:nth-of-type(even) img{
    margin-left:auto;
    transform: translate(20px, 20px);
}



.contentsText{

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position:absolute;
    top: 40px;

    
}
.contents h2{
    font-size: 50px;
    font-weight: bold;
    white-space: nowrap;
    background-color: rgba(20,20,20,.8);
    padding: 10px 20px;
    line-height: 1.4;
    letter-spacing: .05em;
    border-radius: 5px;


    opacity: 0;
    transform: translateY(20px);
    transition: 1s;


}
.contents p{
    line-height: 1.6;
    background-color: #555;
    font-size:  14px;
    max-width: 340px;
    padding:15px;
    margin-top: 30px;
    border-radius: 5px;

    opacity: 0;
    transform: translateX(20px);
    transition: 1s;
}
.contents img{

    width:65%;
    display: block;
    border-radius: 5px;

    opacity: 0;
    transform: translateX(-20px);
    transition: 1s .5s;
}